<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestoBus.Properties.Settings.PI2324_nrastija22_DBConnectionString"
            connectionString="Data Source=31.147.206.65;Initial Catalog=PI2324_nrastija22_DB;User ID=PI2324_nrastija22_User;Password=dxUnFiR#;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>